@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-white{
    color: #FFFFFF;
}
.text-green{
    color: #00FF88;
}

/* nav{
    background-color: #1A0B2E;
    height:92px;
} */
.navbar{
    background-color: #1A0B2E;
    height:92px;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav #nav-text-color{
    background: linear-gradient(rgba(247, 233, 63, 1),  rgba(251, 9, 180, 1),  rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}
.nav-items{
    display: flex;
    gap: 2rem;
    list-style: none;
    
}
.nav-items a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.navbar .btn{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(#F7E93F,#FB09B4, #9100F8);
    font-size: 1rem;
    font-weight: 600;
}
.navbar .hamburger{
    visibility: hidden;
}
hr{
    border: 1px solid #412567;
    max-width: 1600px;
}
.banner{
    max-width: 1600px;
    height: 760px;
    width: 100%;
    background-image: url(../assets/hero-bg.png);
    /* background-position: center; */
}
.banner-image{
    display: flex;
    justify-content: center;
    padding-top: 6.25rem; 
    padding-bottom: 2.5rem;
    
}
.banner-content{
    display: flex;
    justify-content: center;
    text-align: center;
}
.banner .banner-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner .banner-content p{
    font-size: 1rem;
    margin-bottom: 24px;
}
.banner .banner-content .btn1{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(#F7E93F,#FB09B4, #9100F8);
    margin-right: 8px;
    font-size: 1rem;
    font-weight: 600;
}
.banner .banner-content .btn2{
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 12px 16px;
    border-radius: 10000px;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
}
.badge {
  position: relative; 
  left: 53.75rem;
  bottom: 23.75rem;
  color: #1A0B2E;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 1000px;       
  background-color: #00FF88; 
}
.mic{
    position: absolute;
    left: 46.25rem;
    bottom: 17.5rem;
}
.about-section{
    max-width: 1600px;
    background-color: #1A0B2E;
}
.about-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about-container h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-container p{
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 80px;
}
.about-item{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
}
.about-item .about-card h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}
.about-item .about-card p{
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 120px;
}
.image-section{
    max-width: 1600px;
    background-color: #230E3D;
}
.image-text h2{
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.image-container{
    max-width: 1200px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,200px);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 120px;
}
.image-container .img1{
    padding: 100px 0 16px 40px;
}
.image-container .img2{
    padding: 40px 0 16px 40px;
}
.image-container .img3{
    padding: 20px 0 10px 40px;
}
.image-container h5{
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 700;
}
.image-container p{
    font-size: 1rem;
    line-height: 24px;
}
.image-container h5, .image-container p{
    padding-left: 40px;
    padding-right: 40px;
}
.big-column{
    grid-row: span 2;
    grid-column: span 1;
    background-color: rgba(53, 17, 101, 0.4);
    width: 100%;
    height: 100%;
    /* text-align: center; */
    border-radius: 40px;
}
.big-row{
    grid-column: span 2;
    grid-row: span 1;
    background-color: rgba(53, 17, 101, 0.4);
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.small-column{
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgba(53, 17, 101, 0.4);
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
/* small device */
@media screen and (max-width:576px){
    .navbar{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        height: 60px;
    }
    .navbar .nav-items{
        display: none;
    }
    .navbar .btn{
        display: none;
    }
    .navbar .hamburger{
        visibility: visible;
    }
    .about-container h2{
    font-size: 1rem;
    font-weight: 700;
    padding: 40px 20px 0;
    }
    .about-container p{
    font-size: 1rem;
    line-height: 1.25rem;
    text-align:justify;
    padding: 16px 20px 15px;
    margin-bottom: 50px;
    }
    .about-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 50px;
    }
    .about-item .about-card h2{
    font-size: 2.5rem;
    }
    .about-item .about-card p{
    margin-bottom: 30px;
    }
    .image-text h2{
    padding-top: 40px;
    padding-bottom: 16px;
    font-size: 2rem;
    font-weight: 700;
    }
    .image-container .img1{
    padding: 24px 0 16px 24px;
    }
    .image-container .img2{
    padding: 24px 0 16px 24px;
    }
    .image-container .img3{
    padding: 24px 0 16px 24px;
    }
    .image-container h5, .image-container p{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    }
    .big-column{
    grid-column: span 2;
    grid-row: span 1; 
    }
    .small-column{
    grid-column: span 2;
    grid-row: span 1;
    }
    .image-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
    }
}