@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-white{
    color: #FFFFFF;
}

/* nav{
    background-color: #1A0B2E;
    height:92px;
} */
.navbar{
    background-color: #1A0B2E;
    height:92px;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav #nav-text-color{
    background: linear-gradient(rgba(247, 233, 63, 1),  rgba(251, 9, 180, 1),  rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}
.nav-items{
    display: flex;
    gap: 2rem;
    list-style: none;
    
}
.nav-items a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.navbar .btn{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(#F7E93F,#FB09B4, #9100F8);
    font-size: 1rem;
    font-weight: 600;
}
.navbar .hamburger{
    visibility: hidden;
}
hr{
    border: 1px solid #412567;
    max-width: 1600px;
}
.banner{
    max-width: 1600px;
    height: 760px;
    width: 100%;
    background-image: url(../assets/hero-bg.png);
    /* background-position: center; */
}
.banner-image{
    display: flex;
    justify-content: center;
    padding-top: 6.25rem; 
    padding-bottom: 2.5rem;
    
}
.banner-content{
    display: flex;
    justify-content: center;
    text-align: center;
}
.banner .banner-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner .banner-content p{
    font-size: 1rem;
    margin-bottom: 24px;
}
.banner .banner-content .btn1{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(#F7E93F,#FB09B4, #9100F8);
    margin-right: 8px;
    font-size: 1rem;
    font-weight: 600;
}
.banner .banner-content .btn2{
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 12px 16px;
    border-radius: 10000px;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
}
.badge {
  position: relative; 
  left: 53.75rem;
  bottom: 23.75rem;
  color: #1A0B2E;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 1000px;       
  background-color: #00FF88; 
}
.mic{
    position: absolute;
    left: 46.25rem;
    bottom: 17.5rem;
}

/* small device */
@media screen and (max-width:576px){
    .navbar{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        height: 60px;
    }
    .navbar .nav-items{
        display: none;
    }
    .navbar .btn{
        display: none;
    }
    .navbar .hamburger{
        visibility: visible;
    }
    
    
}